body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    background-image: url('./images/background2.webp');
    background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* Fixe l'image pour un effet parallax */
}

a {
text-decoration: none;
}

.et-hero-tabs,
.et-slide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
position: relative;
background: #eeeeee00;
    text-align: center;
    padding: 0 2em;
h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}
}

.et-hero-tabs-container {
display: flex;
flex-direction: row;
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
background: #fff;
z-index: 10;
&--top {
    position: fixed;
    top: 0;
}
}

.et-hero-tab {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
color: #000;
letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  &:hover {
        color:white;
  background: rgba(55, 55, 55, 0.8);
        transition: all 0.5s ease;
}
}

.et-hero-tab-slider {
position: absolute;
bottom: 0;
width: 0;
height: 6px;
background: #66B1F1;
transition: left 0.3s ease;
}

@media (min-width: 800px) {
.et-hero-tabs,
.et-slide {
h1 {
    font-size: 3rem;
}
h3 {
    font-size: 1rem;
}
}
.et-hero-tab {
    font-size: 1rem;
}
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto; /* Assure-toi que les images sont bien redimensionnées */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px; /* Augmenter la taille du bouton */
    font-size: 36px; /* Agrandir la taille des icônes */
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

